<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.models.dao.OtherAccountDao">
	<!--查询所有-->
	<select id="selectAll" resultType="com.models.entity.Account">
		select account_code ,account_name,account_password, account_balance,account_score,user_identity,is_admin,delete_status
		from account
	</select>
	<!--条件搜索-->
	<select id="selectByMap" parameterType="java.util.Map" resultType="com.models.entity.Account">
	select account_name,account_password, account_balance,account_score,user_identity,is_admin,delete_status
	from account

	<where>

		delete_status="no"
		<if test="account != null and account != ''">
			and account_name like "%"#{account}"%"
		</if>
		<if test="usercode != null and usercode != ''">
			and user_identity like "%"#{usercode}"%"
		</if>
	</where>

</select>
	<!--依据账号编号查询-->
	<select id="selectAccountByCode" parameterType="java.lang.String" resultType="com.models.entity.Account">
		select account_code,account_name,account_password, account_balance,account_score,user_identity,is_admin,delete_status
		from account

		<where>

			delete_status="no"
			<if test=" account_code!= null and account_code != ''">
				and account_code = #{account_code}
			</if>
		</where>

	</select>
	<!--插入前验重-->
	<select id="checkBeforeInsert" parameterType="java.lang.String" resultType="java.lang.Integer">
		select
		count(1)
		from account
		where account_name = #{account_name}


	</select>
	<!--插入账号-->
	<insert id="insertAccount" parameterType="com.models.entity.Account">
		insert into account
		(account_code,
		account_name,
		account_password,
		trade_password,
		account_balance,
		account_score,
		user_identity,
		is_admin,
		delete_status)
		values
			(
			#{account_code},
			#{account_name},
			#{account_password},
			#{trade_password},
			#{account_balance},
			#{account_score},
			#{user_identity},
			#{is_admin},
			#{delete_status}
			)
	</insert>
	<!--修改账号信息-->
	<update id="modifyAccountByCode" parameterType="com.models.entity.Account" >
		update account
		set
		<trim suffixOverrides="，">
			<if test="account_name != null and account_name !=''">
				account_name = #{account_name},
			</if>
			<if test="account_password != null and account_password !=''">
				account_password = #{account_password},
			</if>
			<if test="trade_password != null and trade_password !=''">
				account_name = #{account_name},
			</if>
			<if test="is_admin != null and is_admin !=''">
				account_name = #{account_name},
			</if>

		</trim>
		where account_code =  #{account_code}
	</update>
	<!--注销账户-->
	<update id="deleteAccount" parameterType="com.models.entity.Account">
		update account
		set delete_status = "yes"
		where account_code =  #{account_code}
	</update>

<!--查最大账户编号-->
	<select id="selectMaxCurrDayCode" parameterType="java.lang.String" resultType="java.lang.String">
		select max(account_code)
		where
		account_code like "%"#{account_code}"%"
	</select>
</mapper>